// Font Weights
$medium:    500;
$semibold:  600;
$bold:      700;

// Various Font familyies
$monaco:    "Monaco", monospace, sans;
$code:      $monaco;
// $proxima:   "proxima-nova", sans-serif;
$proxima:   "proxima-nova";
